// Container for "Back to Request list" and "Review next request" nav
:host {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .current-request {
        text-align: center;
        font-size: 24px;
        color: #007cc3;
        margin-bottom: 15px;

        @media (min-width: 768px) {
            max-width: 100%;
            flex-basis: 100%;
        }
    }

    .btn {
        font-size: 24px;
        max-width: 100%;
        white-space: normal;

        @media (min-width: 768px) {
            font-size: 20px;
        }
        
        @media (min-width: 1200px) {
            font-size: 24px;
        }
    }

    .btn + .btn {
        margin-top: 15px;

        @media (min-width: 768px){
            margin-top: 0;
            border-left-width: 0;
        }
    }

    .btn:disabled + .btn {
        @media (min-width: 768px){
            border-left-width: 2px;
        }
    }

    .current-request-nav {
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        justify-content: center;
        
        @media (min-width:768px) {
            flex-wrap:nowrap;
        }
    }
}