<div class="container">
    <div class="forgot-password">

        <form class="form-horizontal form-flex-error" name="forgotPassword" (ngSubmit)="forgotPassword()" #forgotPasswordForm="ngForm">
            <div class="forgot-password-title">
                <h2>{{r.forgotYourPassword}}</h2>
                <a routerLink="/login-register">{{r.backToSignIn}}</a>
            </div>
            <p>{{r.instructions}}</p>
            <div *ngIf="!isValid" class="alert alert-danger">
                <label>{{errorMessage}}</label>
            </div>
            <div *ngIf="isResetSuccessful" class="success alert-success">
                <label>{{r.checkEmail}}</label>
            </div>
            <div class="form-group form-group--bottom">
                <div class="col-sm-9">
                    <label for="forgotPassword_empNumber">{{r.employeeNumber}}</label>
                    <input type="text" [(ngModel)]="empNumber" #forgotPassword_empNumber id="forgotPassword_empNumber" name="forgotPassword_empNumber" class="form-control" required>
                </div>
                <div class="col-sm-3" *ngIf="!isResetSuccessful">
                    <input type="submit" value="{{r.submit}}" class="btn btn-full btn-primary" [disabled]="forgotPasswordForm.invalid || !forgotPasswordBtnReady" >
                </div>
            </div>
            <a class="form-flex-bottom back" routerLink="/login-register">{{r.backToSignIn}}</a>
        </form>
    </div>
</div>