hr {
    border-top: 2px solid #fff;
}

// Column Sizing
.review-request {
    @media (min-width: 1200px) {
        &--passengers {
            .passenger {
                &-name {
                    width: 250px;
                    min-width: 250px;
                }

                &-dob {
                    width: 150px;
                    min-width: 150px;
                }

                &-pass {
                    width: 250px;
                    min-width: 250px;
                }

                &-phone {
                    width: 180px;
                    min-width: 180px;
                }

                &-email {
                    width: 250px;
                    min-width: 250px;
                }
            }
        }

        .status {
            padding-right: 15px;
            width: 185px;
            min-width: 185px;
        }

        .pricing {
            width: 130px;
            min-width: 130px;

            .input-group {
                margin-bottom: 0;
            }
        }

        &--hotels {
            .hotel {
                &-date {
                    width: 250px;
                    min-width: 250px;
                }

                &-info {
                    width: 250px;
                    min-width: 250px;
                }

                &-type {
                    width: 265px;
                    min-width: 265px;
                }
            }
        }

        &--ancillaries {
            margin-bottom: 15px;

            .ancillary {
                &-destination {
                    width: 200px;
                    min-width: 200px;
                }

                &-product {
                    width: 120px;
                    min-width: 120px;
                }
                // Excursion name
                &-name {
                    width: 245px;
                    min-width: 245px;

                    & ~ .ancillary-passenger {
                        width: 200px;
                        min-width: 200px;
                    }
                }
                // Excursion / Insurance Passengers
                &-passenger {
                    width: 445px;
                    min-width: 445px;
                }
                // Transfer type
                &-type {
                    width: 245px;
                    min-width: 245px;
                }
                // Transfer quantity
                &-quantity {
                    width: 200px;
                    min-width: 200px;
                }
                // Empty column spacer for Car Rentls
                &-car-spacer {
                    width: 445px;
                    min-width: 445px;
                }
            }
        }
    }

    &--flights {
        .flight {
            &-pax {
                display: none;

                @media (min-width: 1200px) {
                    display: table-cell;
                    font-size: 36px;
                    color: #aeb2b4;
                }
            }

            @media (min-width: 1200px) {
                &-departure {
                    width: 229px;
                    min-width: 229px;
                    padding-right: 15px;
                    position: relative;

                    &--outbound::after,
                    &--inbound::after {
                        content: "\f072";
                        display: inline-block;
                        color: #9acbe7;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &--inbound::after {
                        transform: translateY(-50%) scale(-1, 1);
                    }
                }

                &-destination {
                    width: 250px;
                    min-width: 250px;
                    padding-right: 15px;
                }

                &-date {
                    width: 135px;
                    min-width: 135px;
                }

                &-number {
                    width: 130px;
                    min-width: 130px;
                }
            }

            &-status {
                display: none;

                @media (min-width: 1200px) {
                    display: table-cell;
                    width: 185px;
                    min-width: 185px;
                    padding-right: 15px;
                }

                &--mobile {
                    display: block;

                    @media (min-width: 1200px) {
                        display: none;
                    }
                }
            }

            &-pricing {
                display: none;

                @media (min-width: 1200px) {
                    display: table-cell;
                    width: 130px;
                    min-width: 130px;
                }

                &--mobile {
                    display: block;

                    @media (min-width: 1200px) {
                        display: none;
                    }
                }

                .input-group {
                    margin-bottom: 15px;

                    @media (min-width: 1200px) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

// Assign booking number section
.assign-booking {
    padding: 15px 30px;
    background-color: #f2f2f2;
}