<h3>Sign In</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <app-input inputType="text" label="username" [control]="authForm.get('username')"></app-input>
    <app-input inputType="password" label="password" [control]="authForm.get('password')"></app-input>
    <button class="ui submit button primary vert-space" [disabled]="authForm.invalid">Submit</button>
</form>
<div *ngIf="getErrors()?.credentials">
    <p class="ui red basic label vert-space">Invalid credentials.</p>
</div>