@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Variables
$sunwing-orange: #f36f21;
$sunwing-blue: #007cc3;

html,
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: #333;
}

canvas {
  font-family: "PT Sans", Arial, sans-serif;
}

/* Typography */
h1,
.h1 {
  font-size: 34px;
  font-weight: normal;
  color: #007cc3;
}

h2,
.h2 {
  font-size: 24px;
  font-weight: bold;
  color: #007cc3;
}

h3,
.h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

h4,
.h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Helpers */
.align-split {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
}

.align-left {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-start;
}

.align-center {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.align-right {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
}

.mobile-full-container {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.table-row-spacer {
  display: none;

  @media (min-width: 1200px) {
    display: table-cell;
    height: 20px;
    width: 100%;
  }
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

/* Button and Input Styling */
.btn {
  padding: 12px 12px;
  border-width: 2px;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-out, border 0.3s ease-out;
}

.btn-full {
  width: 100%;
}

.btn-xs-full {
  width: 100%;
}

@media (min-width: 768px) {
  .btn-xs-full {
    width: auto;
  }
}

.btn-primary {
  background-color: #007cc3;
  border-color: #007cc3;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #fff;
  border-color: #007cc3;
  color: #007cc3;
}

.btn-secondary {
  background-color: transparent;
  border-color: #007cc3;
  color: #007cc3;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #007cc3;
  border-color: #007cc3;
  color: #fff;
}

.btn-secondary-dark {
  background-color: transparent;
  border-color: #fff;
}

.btn-secondary-dark:hover,
.btn-secondary-dark:focus {
  background-color: #fff;
  border-color: #fff;
  color: #007cc3;
}

.btn-step {
  background-color: #358046;
  border-color: #358046;
  color: #fff;

  .fa {
    vertical-align: -10%;
    padding-left: 5px;
  }
}

.btn-step:hover,
.btn-step:focus {
  background-color: #fff;
  border-color: #358046;
  color: #358046;
}

.btn-danger {
  .fa {
    vertical-align: -10%;
    padding-right: 5px;
  }
}

.btn-wide {
  width: 100%;
  white-space: normal;

  @media (min-width: 768px) {
    width: auto;
    white-space: nowrap;
  }

  @media (min-width: 992px) {
    padding: 12px 40px;
  }
}

.btn.disabled,
.btn[disabled] {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  color: #ccc;
}

.btn.disabled.focus,
.btn.disabled:focus,
.btn.disabled:hover,
.btn[disabled].focus,
.btn[disabled]:focus,
.btn[disabled]:hover {
  background-color: #fff;
  border-color: #ccc;
}

.btn-loader {
  text-indent: -9999px;
  position: relative;
  opacity: 1 !important;
  cursor: wait !important;
  background-color: #fff !important;
  border-color: #ccc !important;
  color: #ccc !important;
}

.btn-loader::before,
.btn-loader::after {
  display: block;
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
  top: 50%;
  width: 25px;
  height: 25px;
  left: 50%;
  margin-left: -25px;
}

.btn-loader::before {
  animation: loading-left 1s linear infinite;
  background-color: #007cc3;
}

.btn-loader::after {
  animation: loading-right 1s linear infinite;
  background-color: #d0e2ec;
}

@keyframes loading-left {
  0% {
    transform: translate(0px, -50%);
  }

  50% {
    transform: translate(30px, -50%);
  }

  100% {
    transform: translate(0px, -50%);
    z-index: 1;
  }
}

@keyframes loading-right {
  0% {
    transform: translate(30px, -50%);
  }

  50% {
    transform: translate(0px, -50%);
  }

  100% {
    transform: translate(30px, -50%);
  }
}

/* Checkboxes */
.input-group--checkbox {
  position: relative;
  margin-bottom: 15px;
}

.input-group--checkbox input[type="checkbox"] {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.input-group--checkbox label {
  background-color: #ecebe6;
  border: 2px solid #ecebe6;
  padding: 11px 15px 11px 30px;
  margin: 0;
}

.input-group--checkbox label:hover {
  border: 2px solid #007cc3;
}

.input-group--checkbox input[type="checkbox"]:checked + label {
  border: 2px solid #007cc3;
  background-color: #fff;
}

/* Form Inputs */
.form-group {
  margin-bottom: 0;
}

.form-group input.btn {
  margin-bottom: 15px;
}

.form-control {
  height: 48px;
  padding: 10px 0;
  margin-bottom: 15px;
  text-indent: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

textarea.form-control {
  resize: vertical;
  text-indent: 0;
  padding: 10px;
}

.form-search {
  position: relative;

  &::after {
    position: absolute;
    content: "\f002";
    color: #bcbcbc;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  > .form-control {
    padding-right: 35px;
    margin-bottom: 0;
  }
}

.input-group {
  margin-bottom: 15px;
}

.input-group-btn > .btn {
  font-size: 14px;
  font-weight: normal;
  border-width: 1px;
  padding: 13px 12px;
}

.label-note {
  font-weight: normal;
  font-size: 0.8em;
  color: #898989;
}

@media (min-width: 768px) {
  .form-group--bottom {
    display: flex;
    flex: 0 1 auto;
    align-items: flex-end;
  }
}

// Errors - Main Validation
.form-error {
  > label,
  > label * {
    color: #ba1b13;
  }

  input,
  select {
    border: 2px solid #ba1b13;
    margin-bottom: 5px;
  }

  &__message {
    position: relative;
    width: 100%;
    border: 2px solid #ba1b13;
    background-color: #fceeed;
    padding: 12px;
    box-shadow: -3px 1px 0px #ccc;
    margin-bottom: 15px;

    // Decrease Tooltip size to 90% on tablets and up
    @media (min-width: 768px) {
      width: 90%;
    }

    &::after,
    &::before {
      bottom: 100%;
      left: 15%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(186, 27, 19, 0);
      border-bottom-color: #ba1b13;
      border-width: 13px;
      margin-left: -13px;
    }

    &::after {
      border-color: rgba(252, 238, 237, 0);
      border-bottom-color: #fceeed;
      border-width: 10px;
      margin-left: -10px;
    }
    // Error Message
    > span {
      display: flex;
      flex: 1 0 auto;
      font-size: 14px;
      // Exclamation Alert Icon
      &::before {
        content: "\f06a";
        color: #ba1b13;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding-right: 8px;
        font-size: 20px;
      }
    }
  }
}

// Errors - Login / Registration / Forgot Password Pages

.form-flex-error {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}

.form-flex-bottom {
  order: 3;
}

.form-flex-error .alert {
  order: 2;
}

@media (min-width: 768px) {
  .form-flex-error .alert {
    order: 0;
  }
}

/* Panels */
.panel {
  border-radius: 0;
}

.panel-primary {
  border-color: #007cc3;
}

.panel-primary > .panel-heading {
  background-color: #007cc3;
  border-radius: 0;
}

.panel-primary > .panel-heading h2 {
  margin-top: 0;
  color: #fff;
}

@media (min-width: 480px) {
  .panel-primary > .panel-heading.panel-heading--split {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
  }

  .panel-primary > .panel-heading.panel-heading--split h2 {
    margin-bottom: 0;
    flex-basis: 60%;
  }

  .panel-primary > .panel-heading.panel-heading--split .btn {
    flex-basis: 25%;
  }

  .panel-primary > .panel-heading.panel-heading--split > .form-control,
  .panel-primary > .panel-heading.panel-heading--split > .form-search {
    margin-bottom: 0;
    margin-right: 15px;
    flex-basis: 35%;
    max-width: 200px;
  }
}

/* Request Table Base Styling */

.review {
  background-color: #ecf5fb;
  padding: 15px;

  &-info {
    padding: 15px;

    h2 {
      font-size: 32px;
      font-weight: normal;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  & > section {
    padding: 15px;
  }
}

.review-heading {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  padding-bottom: 10px;
  // Icon
  i {
    font-size: 2.7em;
    color: $sunwing-blue;
    padding-right: 10px;
    width: 55px;

    &.fa-ticket {
      font-size: 2.7em;
    }

    &.fa-plane {
      font-size: 2.8em;
    }

    &.fa-bed {
      font-size: 2.4em;
    }

    &.fa-cubes {
      font-size: 2em;
    }
  }

  h3 {
    color: #007cc3;
    margin: 0;
  }

  p {
    font-size: 14px;
    color: #898989;
  }
}

.review-request {
  display: block;
  width: 100%;

  @media (min-width: 1200px) {
    display: table;
  }

  .divider {
    padding-bottom: 10px;

    @media (min-width: 1200px) {
      border-right: 2px solid #d0e2ec;

      & + th,
      & + td {
        padding-left: 15px;
      }
    }
  }

  &__heading {
    display: none;

    @media (min-width: 1200px) {
      display: table-header-group;
    }

    th {
      display: block;
      padding-bottom: 10px;

      @media (min-width: 1200px) {
        display: table-cell;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    @media (min-width: 1200px) {
      display: table-row-group;
    }

    &__item {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      margin-bottom: 15px;
      // Append Index before row
      &[data-index]::before {
        content: attr(data-index);
        position: absolute;
        transform: translateX(10px);
        vertical-align: middle;
        line-height: 1;
        font-size: 36px;
        color: #aeb2b4;

        @media (min-width: 1200px) {
          display: none;
        }
      }

      &.employee-approved {
        border: 2px solid green;
        background-color: #dff0d8;
        padding-top: 15px;

        @media (min-width: 1200px) {
          padding-top: 0;
          border-left: 0;
          border-right: 0;
        }
      }

      td {
        display: block;
        flex: 1 1 auto;
        padding-left: 40px;
        padding-right: 15px;

        @media (min-width: 1200px) {
          display: table-cell;
        }

        &.status[data-heading] {
          padding-bottom: 15px;

          &::before {
            display: block;
            padding-bottom: 10px;

            @media (min-width: 1200px) {
              display: none;
            }
          }
        }

        &[data-heading]::before {
          content: attr(data-heading);
          font-weight: bold;
          padding-right: 15px;

          @media (min-width: 1200px) {
            display: none;
          }
        }
      }

      @media (min-width: 768px) {
        // If more than 2 items
        flex-basis: 1 / 2 * 100%;
        /// If just 1 item
        &:first-of-type:nth-last-of-type(1) {
          flex-basis: 100%;
        }
        // If 2 items
        &:first-of-type:nth-last-of-type(2),
        &:first-of-type:nth-last-of-type(2) ~ & {
          flex-basis: (1 / 2 * 100%);
        }
      }

      @media (min-width: 992px) {
        // If more than 3 items
        flex-basis: 1 / 3 * 100%;
        /// If just 1 item
        &:first-of-type:nth-last-of-type(1) {
          flex-basis: 100%;
        }

        @for $i from 2 through 3 {
          &:first-of-type:nth-last-of-type(#{$i}),
          &:first-of-type:nth-last-of-type(#{$i}) ~ & {
            flex-basis: (100% / #{$i});
          }
        }
      }

      @media (min-width: 1200px) {
        display: table-row;

        td {
          padding: 10px 0;
          vertical-align: middle;
          // Append Index before row
          &[data-index]::before {
            content: attr(data-index);
            display: inline-block;
            vertical-align: middle;
            padding-right: 20px;
            line-height: 1;
            font-size: 36px;
            color: #aeb2b4;
          }
        }
      }
      // Flight section - content row (excluding header)
      &--flight {
        display: block;

        @media (min-width: 1200px) {
          display: table-row-group;
        }

        & > td {
          padding: 0;
        }
        // Append Index before row
        &[data-index]::before {
          display: block;
          content: attr(data-index);
          position: absolute;
          vertical-align: middle;
          line-height: 1;
          font-size: 36px;
          color: #aeb2b4;

          @media (min-width: 1200px) {
            display: none;
          }
        }
        // Push Departing column to allow for plane icon on the left
        @media (min-width: 1200px) {
          .flight-departure {
            padding-left: 25px;
          }
        }
      }
    }
  }

  &--ancillaries {
    & > tbody {
      display: block;

      @media (min-width: 1200px) {
        display: table-row-group;
      }

      & > tr {
        display: block;

        @media (min-width: 1200px) {
          display: table-row;
        }
      }
    }
  }

  &--flights {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    @media (min-width: 1200px) {
      display: table-row-group;
    }

    tbody {
      > tr {
        display: flex;
        flex-direction: column;

        @media (min-width: 1200px) {
          display: table-row;
        }
      }
    }

    tfoot {
      flex-basis: 100%;
    }
  }

  &__additional-note {
    margin-top: 15px;

    td {
      padding-top: 15px;
    }
  }
}

.review-request__row-split {
  display: block;

  @media (min-width: 768px) {
    display: flex;
    flex: 0 1 auto;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
  }
  // Ancillary Notes Container
  .review__ancillary-note {
    margin-bottom: 15px;

    @media (min-width: 768px) {
      padding-right: 15px;
    }
    // Ancillar Notes
    .ancillary-note {
      label {
        display: block;

        @media (min-width: 768px) {
          display: none;
        }
      }

      textarea {
        margin-bottom: 15px;

        @media (min-width: 768px) {
          max-width: 420px;
        }
      }
    }
  }

  & > button {
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

/* ngAutoComplete */
.ngui-auto-complete {
  max-height: 250px;
  overflow-y: auto;
}

/* Material AutoComplete */
.mat-autocomplete-panel {
  box-shadow: none !important;
  border: 1px solid #ccc;

  .mat-option {
    line-height: 28px;
    height: 28px;
    font-size: 15px;
    padding: 0 5px;
    border-bottom: 1px solid #f0f0f0;
  }

  /* Disable Ripple (Not available in 2.0 beta Material) */
  .mat-option-ripple {
    display: none;
  }
}

/* Dialog / Modal */
.cdk-global-overlay-wrapper {
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.cdk-overlay-pane {
  z-index: 1200 !important;
}

/* IE9 and IE10 */
@media screen and (min-width: 0\0) {
  .cdk-overlay-backdrop + .cdk-overlay-pane {
    position: relative !important;
  }
}

.modal-backdrop-light {
  background-color: rgba(255, 255, 255, 0.9);
}

.cdk-overlay-backdrop.modal-backdrop-light.cdk-overlay-backdrop-showing {
  opacity: 1;
}

.mat-dialog-container {
  margin: 0 auto;
}

.modal--edit .mat-dialog-container {
  box-shadow: none;
  border-radius: 0;
  border: 2px solid #277bc3;
  padding: 0;
  max-width: 90vw;
}

.modal--message {
  &-success {
    .mat-dialog-container {
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      border: 2px solid #367f46;
      background-color: #e5f3e9;
    }
  }

  &-error {
    .mat-dialog-container {
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      border: 2px solid #ba1b14;
      background-color: #f8e9e9;
    }
  }

  &-info {
    .mat-dialog-container {
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      border: 2px solid #277bc3;
      background-color: #e5f3e9;
    }
  }
}

/* Tooltips */
mat-tooltip-component .mat-tooltip {
  position: relative;
  white-space: pre-line;
  font-size: 14px;
  background: white;
  color: #333;
  border-radius: 0;
  border: 2px solid #277bc3;
  box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.tooltip {
  &--bottom {
    &::after,
    &::before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::before {
      border-color: rgba(0, 124, 195, 0);
      border-bottom-color: #277bc3;
      border-width: 13px;
      margin-left: -13px;
    }

    &::after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}

/* Markdown Styling */
markdown {
  table,
  td,
  th {
    border: 1px solid #dedede;
  }

  table {
    border: 1px solid #dedede;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    border-right-width: 0;
    border-bottom-width: 0;

    th {
      background-color: #f5f5f5;
    }

    td,
    th {
      padding: 5px;
      border-left: 0;
      border-top: 0;
    }
  }
}

/*/////////////////////////////////////////
// Generic AutoComplete CSS
/////////////////////////////////////////*/

/* Search Box jQuery UI CSS */
.ui-autocomplete {
  position: absolute;
  width: 105px;
  border: solid 2px #e4e4e4;
  border-top: none;
  color: #555;
  font-weight: normal;
  background: #ffffff;
  overflow: auto;
  z-index: 1000;
}

.ui-autocomplete .ui-menu-item a {
  display: block;
  margin-left: -35px;
  padding: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
}

.ui-autocomplete .ui-state-hover,
.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #007cc3;
}

/* Results Over-ride */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-autocomplete {
  width: inherit;
  padding-left: 0;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 200px;
}

.ui-autocomplete .ui-menu-item {
  list-style: none;
  padding: 1px 5px;
  cursor: pointer;
  font-size: 0.8em;
  text-align: left;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #007cc3;
  color: #fff;
}

@media (max-width: 767px) {
  .touch .ui-autocomplete .ui-menu-item {
    line-height: 2.5em;
  }

  .ui-autocomplete.hotel-search {
    border-left: none !important;
  }
}
