<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="STAutomationAuth" connectionString="data source=yyztdcintsql1.sunwing.local;initial catalog=STAutomation;persist security info=True;user id=sta;password=S1#4fTr!Au1%;Integrated Security=False" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="STAutomationEntities" connectionString="metadata=res://*/Models.STAEntity.csdl|res://*/Models.STAEntity.ssdl|res://*/Models.STAEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=yyztdcintsql1.sunwing.local;initial catalog=STAutomation;persist security info=True;user id=sta;password=S1#4fTr!Au1%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!--Flights-->
    <add key="GatewaysAPI" value="https://services.sunwinggroup.ca/beta/api/SV/search/getGatewayforBrand/{0}/{1}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DestinationsAPI" value="https://services.sunwinggroup.ca/beta/api/search/getDestCode/{0}/{1}/{2}/{3}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Hotels-->
    <add key="SVHotelDestinationsAPI" value="https://services.sunwinggroup.ca/beta/api/SV/search/getDestCode/{0}/{1}/{2}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SVHotelsAPI" value="https://services.sunwinggroup.ca/beta/api/SV/search/SVHotelList?lang={0}&amp;brand={1}&amp;gateway={2}&amp;destinationid={3}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--Emails-->
    <add key="AdminEmail" value="stafftravel@sunwing.ca" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GlobalEmailOverride" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <nlog throwExceptions="true" internalLogFile="nlog.txt" internalLogLevel="Debug" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="d:\logs" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <variable name="appTitle" value="StaffTravel" />
    <targets async="true">
      <target name="logfile" xsi:type="File" fileName="${logDirectory}/StaffTravel/${date:format=dd.MM.yyyy}.log" layout="${longdate} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmailService" />
        <binding name="swWsCommonSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://emailservice.sunwingtravelgroup.ca/emailservice.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService" contract="EmailService.IEmailService" name="BasicHttpBinding_IEmailService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>