<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>deploy\StaffTravel.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>StaffTravel</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="STAutomationAuth" Order="1" Enabled="False">
          <Destination Path="Data Source=__StaDbServer__;Initial Catalog=__StaDbName__;Persist Security Info=True;User ID=__StaUserId__;Password=__StaDbPassword__" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StaffTravel.Models.ApplicationDbContext, StaffTravel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="STAutomationEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=__StaDbServer__;Initial Catalog=__StaDbName__;Persist Security Info=True;User ID=__StaUserId__;Password=__StaDbPassword__" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StaffTravel.Models.STAutomationEntities, StaffTravel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="STAutomationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.STAEntity.csdl|res://*/Models.STAEntity.ssdl|res://*/Models.STAEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=__StaDbServer__;Initial Catalog=__StaDbName__;Persist Security Info=True;User ID=__StaUserId__;Password=__StaDbPassword__"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="STAutomationAuth-Web.config Connection String">
      <ParameterValue>Data Source=__StaDbServer__;Initial Catalog=__StaDbName__;Persist Security Info=True;User ID=__StaUserId__;Password=__StaDbPassword__</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>