
/*/////////////////////////////////////////
// Global / Custom CSS
/////////////////////////////////////////*/
#search-box {
    width: 100%;
}

#search-box .sb-wrapper {
    float: none;
}

h2 {
    margin-top: 0;
}

.form-group {
    padding-right: 15px;
}

.form-control {
    padding: 6px 12px;
    margin: 0;
    text-indent: 0;
}