<div class="container">
    <div class="reset-password">

        <form class="form-horizontal form-flex-error" name="resetPassword" (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
            <div class="reset-password-title">
                <h2>{{r.resetPassword}}</h2>
                <a routerLink="/login-register">{{r.backToSignIn}}</a>
            </div>
            <div *ngIf="!isPasswordValid" class="alert alert-danger">
                <label>{{r.passwordRequirementsTitle}}</label>
                <ul>
                    <li>{{r.passwordRequirementsLine1}}</li>
                    <li>{{r.passwordRequirementsLine2}}</li>
                    <li>{{r.passwordRequirementsLine3}}</li>
                    <li>{{r.passwordRequirementsLine4}}</li>
                </ul>
            </div>
            <div *ngIf="!isPasswordMatch" class="alert alert-danger">
                <label>{{r.passwordMismatch}}</label>
            </div>
            <div class="form-group form-group--bottom">
                <div class="col-sm-6">
                    <label for="resetPassword_password">{{r.password}}</label>
                    <input type="password" [(ngModel)]="passwordModel.password" id="resetPassword_password" name="resetPassword_password" class="form-control"
                        required="required">
                </div>
                <div class="col-sm-6">
                    <label for="resetPassword_passwordConfirm">{{r.confirmPassword}}</label>
                    <input type="password" [(ngModel)]="passwordModel.confirmPassword" id="resetPassword_passwordConfirm" name="resetPassword_passwordConfirm"
                        class="form-control" required="required">
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="Submit" class="btn btn-full btn-primary" [disabled]="resetPasswordForm.invalid || !resetPasswordBtnReady">
                </div>
            </div>
            <a class="form-flex-bottom back" routerLink="/login-register">{{r.backToSignIn}}</a>
        </form>
    </div>
</div>