<div id="container" style="width:100%;"></div>
<table id="datatable">
	<thead>
		<tr style="font-size:95%">
			<caption style="border-top:1px #aaa solid;border-left:1px #aaa solid;border-right:1px #aaa solid;background-color:lavender;padding:0.25em;font-weight:bold">Historical population</caption>
		</tr>
	</thead>
	<tbody>
		<tr style="font-size:95%">
			<th style="border-bottom:1px solid black;padding:1px;width:3em">Year</th>
			<th style="border-bottom:1px solid black;padding:1px 2px;text-align:right">
				<abbr title="Population">Pop.</abbr>
			</th>
			<th style="border-bottom:1px solid black;padding:1px;text-align:right">
				<abbr title="Percent change">±%</abbr>
			</th>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">50984840</td>
			<td style="text-align:right;padding:1px">—----------------</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">54935755</td>
			<td style="text-align:right;padding:1px">+7.7%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">55963053</td>
			<td style="text-align:right;padding:1px">+1.9%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">59736822</td>
			<td style="text-align:right;padding:1px">+6.7%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">2020-02-15</th>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">64450005</td>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">+7.9%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">69254148</td>
			<td style="text-align:right;padding:1px">+7.5%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">73075071</td>
			<td style="text-align:right;padding:1px">+5.5%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">71998104</td>
			<td style="text-align:right;padding:1px">−1.5%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">83199637</td>
			<td style="text-align:right;padding:1px">+15.6%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">2020-02-15</th>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">89275529</td>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">+7.3%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">93418501</td>
			<td style="text-align:right;padding:1px">+4.6%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">98274961</td>
			<td style="text-align:right;padding:1px">+5.2%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">103720060</td>
			<td style="text-align:right;padding:1px">+5.5%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">111939643</td>
			<td style="text-align:right;padding:1px">+7.9%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">2020-02-15</th>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">117060396</td>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">+4.6%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">121048923</td>
			<td style="text-align:right;padding:1px">+3.4%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">123611167</td>
			<td style="text-align:right;padding:1px">+2.1%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">125570246</td>
			<td style="text-align:right;padding:1px">+1.6%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">126925843</td>
			<td style="text-align:right;padding:1px">+1.1%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px;border-bottom:1px solid #bbbbbb">2020-02-15</th>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">127767994</td>
			<td style="text-align:right;padding:1px;border-bottom:1px solid #bbbbbb">+0.7%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">128057352</td>
			<td style="text-align:right;padding:1px">+0.2%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">127094745</td>
			<td style="text-align:right;padding:1px">−0.8%</td>
		</tr>
		<tr>
			<th style="text-align:center;padding:1px">2020-02-15</th>
			<td style="text-align:right;padding:1px">126610000</td>
			<td style="text-align:right;padding:1px">−0.4%</td>
		</tr>
	</tbody>
</table>
